.link {
  padding: 10px;
  background-color: #656ec2;
  color: white;
  border-radius: 8px;
  transition: all 0.3s;
  width: fit-content;
  font-size: 18px;
}

.link:hover {
  background-color: #443375;
  transition: 0.3s ease-in-out;
}

.link:active {
  background-color: #291b51;
}

@media screen and (max-width: 550px) {
  .link {
    font-size: 16px;
  }
}
